body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
}
.half-width{
    width: 50%;
}
.btn-link{
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-image: linear-gradient(teal, orange);
    padding: 10px 15px;
    border: none;
    border-radius: 35px;   
}

/* ----Top Section---- */


.top-div{
    max-width: 100%;
    margin: auto 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.top-content{
    margin: auto;
    font-size: 30px;
    line-height: 1.2;
    padding-right: 15px;
}
.top-content h1{
    color: darkslategrey;
    padding-bottom: -5px;
}
.top-content h1 span{
    color: orangered;
}
p{
    color: rgba(34, 34, 34, 0.933);
    font-size: 16px;
    padding-bottom: 15px;
}

.top-image{
    align-items: center;
    padding-left: 15px;
}
.top-image img{
    height: 500px;
}

/*-------About me section--------*/
section.about-me{
    width: 100%;
    margin: auto;
    padding-top: 40px;
    background-image: url(./images/shapes/7.png);
}
section .about-items{
    width: 90%;
}
.about-me .img-div{
    margin: auto;
    width: 40%;
    
}
.about-me img{
    height: 300px;
    width: auto;
    margin: auto;
    padding-left: 150px;
    
}
.about-content{
    width: 40%;
    margin: auto;
    padding-left: 50px;
}
.about-me h2{
    color: darkslategrey;
}

/*-------Recipies section------*/

.recipes-section{
    width: 100%;
    margin: auto;
    padding-top: 35px;
   
}
.recipes-section h2{
    color: darkslategrey;
    text-align: center;
    font-size: 36px;
}
.recipes-section p.heading-description{
    color: rgba(34, 34, 34, 0.933);
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: auto;
}
.recipes-section .recipies-container{
    width: 90%;
    margin: auto;
}
.recipes-section .recipies-container .size{
    height: 528px;
    width: 377px; 
}
.recipes-section .recipies-container .recipie-one{
    background-color: white;
    justify-content: center;
    width: 347px;
    height: 500px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(117, 117, 117, 0.363);
}
.recipes-section .recipies-container .recipie-two{
    background-color: white;
    justify-content: center;
    width: 347px;
    height: 500px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(117, 117, 117, 0.363);
}
.recipes-section .recipies-container .recipie-three{
    background-color: white;
    justify-content: center;
    width: 347px;
    height: 500px;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(117, 117, 117, 0.363);
}
.recipes-section .recipies-container .size img{
    height: 246px;
    width: 307px;
    padding: 20px;
    border-radius: 42px;
}
.recipes-section .recipies-container .size h4{
    font-size: 28px;
    text-align: left;
    padding-left: 20px;
    margin-top: 4px;
}
.recipes-section .recipies-container .size p{
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -24px;
}


/*-------Counting section------*/

section.counting{
    display: flex;
    width: 90%;
    margin: 100px auto;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(117, 117, 117, 0.363);
}
section.counting div{
    width: 25%;
}
section.counting h1{
    font-size: 48px;
    text-align: center;
}
section.counting p{
    font-size: 16px;
    text-align: center;
    margin-top: -35px;
    padding-bottom: 15px;
}

/*-------Review section------*/
.review-section{
    display: flex;
    width: 100%;
    height: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(./images/shapes/Frame\ 57.jpg);
}
.review-section .review-img{
    width: 15%;
    
}
.review-section .review{
    width: 30%;
}

/*-------Feedback section------*/
.get-in-touch{
    width: 100%;
    margin: auto;
    justify-content: center;
    padding: 100px 0;
}
.get-in-touch h1{
    color: darkslategrey;
    font-size: 36px;
    text-align: center;
}
.get-in-touch hr{
    width: 150px;
    margin-top: 2px;
}
.get-in-touch p{
    font-size: 16px;
    text-align: center;
}
.get-in-touch textarea{
    width: 450px;
    margin-left: 30%;
    margin-bottom: 3%;
    border: 1px solid rgba(47, 79, 79, 0.384);
}
.get-in-touch a{
    
    margin-left: 30%;
    
}

/*-------Footer section------*/
footer{
    background-color: black;
    width: 100%;
    height: 200px;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    padding-top: 5%;

}
footer h3{
    color: cornsilk;
    text-align: center;
}
footer h3 span{
    color: darkkhaki;
}
footer p{
    color: cornsilk;
    text-align: center;
    font-size: 14px;
}